---
import AppScreenshot from '../app-screenshot.astro';
import s3Image from '../../assets/case-study/chumz-profile-account-screen.png';
---

<div class="screen" id="s3">
  <AppScreenshot
    src={s3Image}
    alt="Chumz app account page showing profile, settings, and support options"
    width={1206}
    height={2622}
    sizes="(max-width: 940px) 270px, 300px"
    quality={72}
    class="screenshot-img"
  />
</div>
