---
import AppScreenshot from '../app-screenshot.astro';
import s4Image from '../../assets/case-study/chumz-play-store-listing-500k-downloads.png';
---

<div class="screen" id="s4">
  <AppScreenshot
    src={s4Image}
    alt="Chumz: Save & Invest listing on Google Play showing a 4.4 star rating and over 500,000 downloads"
    width={1206}
    height={2183}
    sizes="(max-width: 940px) 270px, 300px"
    quality={72}
    class="screenshot-img screenshot-img--contain"
  />
</div>
