---
import AppScreenshot from '../app-screenshot.astro';
import s1Image from '../../assets/case-study/chumz-goals-quick-save-screen.png';
---

<div class="screen on" id="s1">
  <AppScreenshot
    src={s1Image}
    alt="Chumz app Goals screen showing the Quick Save balance and a list of personal savings goals"
    width={1206}
    height={2622}
    sizes="(max-width: 940px) 270px, 300px"
    quality={72}
    priority
    class="screenshot-img"
  />
</div>
