---
import AppScreenshot from '../app-screenshot.astro';
import s2Image from '../../assets/case-study/chumz-savings-challenge-timeline-screen.png';
---

<div class="screen" id="s2">
  <AppScreenshot
    src={s2Image}
    alt="Chumz app Mia Kwa Mia savings challenge timeline showing daily deposit history"
    width={1206}
    height={2622}
    sizes="(max-width: 940px) 270px, 300px"
    quality={72}
    class="screenshot-img"
  />
</div>
