---
import BaseLayout from '../layouts/base-layout.astro';
import SiteNav from '../components/site-nav.astro';
import Hero from '../components/hero.astro';
import CaseStudy from '../components/case-study.astro';
import MoreWork from '../components/more-work.astro';
import Colophon from '../components/colophon.astro';
import ContactOutro from '../components/contact-outro.astro';
import SiteFooter from '../components/site-footer.astro';
import { site } from '../data/site';
---

<BaseLayout title={site.title} description={site.description}>
  <SiteNav />
  <main id="top">
    <Hero />
    <CaseStudy />
    <MoreWork />
    <Colophon />
    <ContactOutro />
  </main>
  <SiteFooter />
</BaseLayout>
